*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  background-color: #303030;
  color: #fff;
}

.round-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.options {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.option {
  width: 128px;
}

.option:hover {
  transform: scale(1.2);
  border: 1px solid #fff;
}

.option:active {
  transform: scale(1);
}

@media screen and (max-width: 600px) {
  .options {
    flex-direction: column;
    align-items: center;
  }
}
